@tailwind base;
@tailwind components;
@tailwind utilities;

/* .custom-scrollbar {
    scrollbar-color: #c2c2c2 transparent;
} */

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #c2c2c2;
    border-radius: 0; /* Remove rounded corners */
}

/* clears the 'X' from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    display: none;
}
